canvas {
  border: 1px solid black;
}

label {
  color: black;
}

.navbar {
  flex-direction: column !important;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
}

.navbar-nav {
  height: 80vh;
  flex-direction: column !important;
  justify-content: center;
  padding: 0;
}


.carousel,
.carousel-item,
.carousel-item.active {
  height: 100vh;

}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}