canvas {
  border: 1px solid black;
}

label {
  color: black;
}

.navbar {
  flex-direction: column !important;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
}

.navbar-nav {
  height: 80vh;
  flex-direction: column !important;
  justify-content: center;
  padding: 0;
}
.nav-link a {
  color: white;
}
.carousel,
.carousel-item,
.carousel-item.active {
  width: 100%;
  height: 100vh;
}
.d-block {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-control-next,
.carousel-control-prev {
  display: none;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: yellow;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}
@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-nav {
    height: 20%;
    align-items: center;
  }
}
